<p id="notice"><%= notice %></p>

<p>
  <b>Doctor:</b>
  <%= @calendar_setting.doctor_id %>
</p>

<p>
  <b>Slotminutes:</b>
  <%= @calendar_setting.slotMinutes %>
</p>

<p>
  <b>Mintime:</b>
  <%= @calendar_setting.minTime %>
</p>

<p>
  <b>Maxtime:</b>
  <%= @calendar_setting.maxTime %>
</p>

<p>
  <b>Firsthour:</b>
  <%= @calendar_setting.firstHour %>
</p>

<p>
  <b>Defaulteventminutes:</b>
  <%= @calendar_setting.defaultEventMinutes %>
</p>


<%= link_to 'Edit', edit_calendar_setting_path(@calendar_setting) %> |
<%= link_to 'Back', calendar_settings_path %>
