<li>
  Appointment title:
  <span class="content"><%= appointment.title %></span>
  </br>
  <span class="timestamp">
    start time: <%= appointment.start %>.
  </span>
  </br>
  <span class="content">
    doctor: <%= Doctor.find(Residence.find(appointment.residence_id).doctor_id).name %>.
  </span>
 
  <%= link_to 'SHOW', [Residence.find(appointment.residence_id),appointment] , {:class => 'linkedTo'} %> | 

  <%= link_to 'EDIT', edit_residence_appointment_path(Residence.find(appointment.residence_id),appointment) , {:class => 'linkedTo'} %> | 

  <span> 
      <% if current_user?(Doctor.find(Residence.find(appointment.residence_id).doctor_id))  %>

    		<%= link_to "DELETE", residence_appointment_path(Residence.find(appointment.residence_id),appointment), method: :delete,
                                     data: { confirm: "Are you sure to cancel the appointment?" },
                                     title: appointment.title, :class => 'linkedTo' 
                                     %>
  	  <% end %>
  </span>
</li>