<% provide(:title, 'All Appointments') %>
<h1>All Appointments</h1>


<ul class="appointments">
  <% @doctor.appointments.each do |appointment| %>
    <li>
       <%= link_to appointment.title, doctor_appointment_path(@doctor, appointment) %>
       
       <%= link_to 'Edit',  edit_doctor_appointment_path(@dcotor,appointment) , {:class => 'linkedTo'} %>

       <%= link_to 'Delete', appointment,   method: :delete,  
                                     data: { confirm: "You sure?" },
                                    title: appointment.title, :class => 'linkedTo'
                                       %>

    </li>
  <% end %>
</ul>


<%= link_to 'New Appointment', new_doctor_appointment_path, class: "btn btn-large btn-primary"  %>
<%= link_to "Back to Home", root_url,  class: "btn btn-large btn-primary" %>