
<p id="notice"><%= notice %></p>

<p style='font-size:20px; color:black; font-weight:bold'>
    Appointment Details
</p>
</br>
<p>
  <b>Title:</b>
  <%= @appointment.title %>
</p>

<p>
  <b>Doctor:</b>
  <%= Doctor.find(@appointment.doctor_id).name %>
</p>

<p>
  <b>Patient:</b>
  <%= Patient.find(@appointment.patient_id).name %>
</p>

<p>
  <b>Start:</b>
  <%= @appointment.start %>
</p>

<p>
  <b>End:</b>
  <%= @appointment.end %>
</p>




<%= link_to 'Edit', edit_appointment_path(@appointment) , {:class => 'linkedTo'} %> |
<%= link_to 'Back', appointments_path , { :class => 'linkedTo'} %>
